In [1]:
import pandas as pd

In [2]:
all = True

In [3]:
data0 = pd.read_csv('/home/patrick.araujo/topicModeling/out/outS0.csv')

In [4]:
data0

      id                                             topics  sentiment
0     -1  ['app', 'spotify', 'music', 'songs', 'play', '...          0
1      0  ['app', 'songs', 'spotify', 'song', 'play', 'm...          0
2      1  ['worst', 'ads', 'ad', 'song add', 'ad ad', 's...          0
3      2  ['login', 'password', 'error', 'link', 'email'...          0
4      3  ['tried play', 'play song tried', 'song tried ...          0
..   ...                                                ...        ...
282  281  ['liked songs playing', 've getting bugs', 'st...          0
283  282  ['commercials', 'know listening', 'supposedly ...          0
284  283  ['weird randomizer bad', 'randomizer', 'playin...          0
285  284  ['30 min', 'half hour encounter', 'says ad com...          0
286  285  ['songs app getting', 'app getting closed', 's...          0

[287 rows x 3 columns]

In [5]:
data1 = pd.read_csv('/home/patrick.araujo/topicModeling/out/outS1.csv')

In [6]:
data1

      id                                             topics  sentiment
0     -1  ['app', 'songs', 'music', 'spotify', 'song', '...          1
1      0  ['app', 'songs', 'song', 'music', 'like', 'pla...          1
2      1  ['turns music', 'turns', 'hard hear', 'stop tu...          1
3      2  ['complete', 'need bug', 'notification slide p...          1
4      3  ['tamil', 'tamil songs', 'hindi', 'punjabi', '...          1
..   ...                                                ...        ...
322  321  ['look pretty don', 've ads songs', 've ads', ...          1
323  322  ['music repeats', 'premium everytime skip', 'e...          1
324  323  ['driving mode', 'mode perfect', 'house yard',...          1
325  324  ['music stopped', 'years times wouldn', 'stopp...          1
326  325  ['love update fix', 'open computer', 'open com...          1

[327 rows x 3 columns]

In [7]:
data2 = pd.read_csv('/home/patrick.araujo/topicModeling/out/outS2.csv')

In [8]:
data2

      id                                             topics  sentiment
0     -1  ['music', 'app', 'love', 'spotify', 'great', '...          2
1      0  ['app', 'spotify', 'music', 'songs', 'love', '...          2
2      1  ['easy use', 'easy', 'use', 'music easy', 'mus...          2
3      2  ['best', 'best music', 'best app listening', '...          2
4      3  ['ads', 'app ads', 'ads annoying', 'music ads'...          2
..   ...                                                ...        ...
154  153  ['stories music coming', 'just popular spotify...          2
155  154  ['thanks fixing', 'fixing', 'missed app', 'gre...          2
156  155  ['vanished fixed reviewed', 'jam connected car...          2
157  156  ['wish control listening', 'service app just',...          2
158  157  ['later loving', 'use lyrics good', 'ui kudos ...          2

[159 rows x 3 columns]

In [9]:
merged_df = pd.concat([data0, data1, data2])
merged_df = merged_df.reset_index(drop=True)

In [10]:
merged_df

      id                                             topics  sentiment
0     -1  ['app', 'spotify', 'music', 'songs', 'play', '...          0
1      0  ['app', 'songs', 'spotify', 'song', 'play', 'm...          0
2      1  ['worst', 'ads', 'ad', 'song add', 'ad ad', 's...          0
3      2  ['login', 'password', 'error', 'link', 'email'...          0
4      3  ['tried play', 'play song tried', 'song tried ...          0
..   ...                                                ...        ...
768  153  ['stories music coming', 'just popular spotify...          2
769  154  ['thanks fixing', 'fixing', 'missed app', 'gre...          2
770  155  ['vanished fixed reviewed', 'jam connected car...          2
771  156  ['wish control listening', 'service app just',...          2
772  157  ['later loving', 'use lyrics good', 'ui kudos ...          2

[773 rows x 3 columns]

In [11]:
newData = pd.DataFrame(columns=['topic', 'sentiment'])

In [12]:
import ast
if all:
    for i in merged_df.index:
        listString = merged_df['topics'][i]
        words_list = ast.literal_eval(listString)
        for word in words_list:
            if word != "":
                new_row = {'topic': word, 'sentiment': 0}
                newData = pd.concat([newData, pd.DataFrame([new_row])], ignore_index=True)
                new_row = {'topic': word, 'sentiment': 1}
                newData = pd.concat([newData, pd.DataFrame([new_row])], ignore_index=True)
                new_row = {'topic': word, 'sentiment': 2}
                newData = pd.concat([newData, pd.DataFrame([new_row])], ignore_index=True)
else:
    for i in merged_df.index:
        listString = merged_df['topics'][i]
        words_list = ast.literal_eval(listString)
        for word in words_list:
            if word != "":
                new_row = {'topic': word, 'sentiment': merged_df['sentiment'][i]}
                newData = pd.concat([newData, pd.DataFrame([new_row])], ignore_index=True)

In [13]:
newData

                    topic sentiment
0                     app         0
1                     app         1
2                     app         2
3                 spotify         0
4                 spotify         1
...                   ...       ...
57646        great app ui         1
57647        great app ui         2
57648  years later loving         0
57649  years later loving         1
57650  years later loving         2

[57651 rows x 2 columns]

In [14]:
newData = newData.sample(frac=1).reset_index(drop=True)

In [15]:
newData

                      topic sentiment
0            pleasure alike         0
1      use categorize liked         0
2        basically features         0
3       ain playing anymore         1
4             best app want         2
...                     ...       ...
57646  features descent app         1
57647           buggy laggy         2
57648             watch old         1
57649                 resso         1
57650      listen music don         2

[57651 rows x 2 columns]

In [16]:
newData.to_csv('list.csv', index=False)